APP_NAME="Advance Education Platform"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_PORT=5000

APP_SUPER_ADMIN_USER_ID=1

WWWGROUP=1000
WWWUSER=1000

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=adveduplat_db
DB_USERNAME=psql_example
DB_PASSWORD=psql_example

DB_MSQL_EXT_DATABASE=example
DB_MSQL_EXT_USERNAME=example
DB_MSQL_EXT_PASSWORD=

DB_ADVANGLIRU_HOST=127.0.0.1
DB_ADVANGLIRU_PORT=3306
DB_ADVANGLIRU_DATABASE=example
DB_ADVANGLIRU_USERNAME=example
DB_ADVANGLIRU_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

USER_REGISTERED_NOTIFICATION_VIEW_ID=1

GET_COURSE_ACCOUNT_NAME=
GET_COURSE_SECRET_KEY=
GET_COURSE_USERS_EXPORT_ID=
GET_COURSE_DEALS_EXPORT_ID=

AMOCRM_SUBDOMAIN=
AMOCRM_CLIENT_ID=
AMOCRM_CLIENT_SECRET=
AMOCRM_AUTH_CODE=
AMOCRM_REDIRECT_URI=

AMOCRM_TO_GETCOURSE_SYNC=false
AMOCRM_TO_GETCOURSE_SYNC_LINKED_FIELD_CODE=
AMOCRM_TO_GETCOURSE_SYNC_LEADS_LINKED_FIELD_ID=
AMOCRM_TO_GETCOURSE_SYNC_FORCE_UPDATE=
AMOCRM_TO_GETCOURSE_SYNC_PERIOD=
AMOCRM_TO_GETCOURSE_SYNC_LIMIT_COUNT=
