node_modules/
/ui_build
/public/hot
/public/storage
/public/test.php
/storage/*.key
/vendor
/.idea
/public/files
.env
.env.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
.dev
/public/externalExercises/
/ui/src/exercises/
/data/files/app/*
/data/files/export/*
/data/files/import/*
/data/files/log/*
/app/ApiClients/Zoom/data/*
/app/ApiClients/GoogleDrive/configs/*
/public/js/ui/*
/public/static/media/*
/resources/views/welcome.blade.php
/resources/views/app/admin.blade.php
/resources/views/app/panel.blade.php
/resources/views/exercises/share.blade.php
!.keep
.phpstorm.meta.php
_ide_helper_models.php
_ide_helper.php
/tools/php-cs-fixer/vendor
/storage/framework/laravel-excel/*
.php-cs-fixer.cache
